In [6]:
# Import the nescessary modules
import matplotlib.pyplot as plt
from scipy import stats
%matplotlib inline
import pandas as pd
import numpy as np
import requests
import json

In [7]:
zip_78724 = pd.read_csv("./Resources/csv_files/zip_78724.csv")
zip_78725 = pd.read_csv("./Resources/csv_files/zip_78725.csv")
zip_78733 = pd.read_csv("./Resources/csv_files/zip_78733.csv")
zip_78736 = pd.read_csv("./Resources/csv_files/zip_78736.csv")
zip_78741 = pd.read_csv("./Resources/csv_files/zip_78741.csv")
zip_78748 = pd.read_csv("./Resources/csv_files/zip_78748.csv")
zip_78751 = pd.read_csv("./Resources/csv_files/zip_78751.csv")
zip_78752 = pd.read_csv("./Resources/csv_files/zip_78752.csv")
zip_78724.head()

,"ACS Profile Report, 2013-2017: Demographic",Unnamed: 1,Unnamed: 2,Unnamed: 3,"ACS Profile Report, 2013-2017: Economic",Unnamed: 5,Unnamed: 6,Unnamed: 7,"ACS Profile Report, 2013-2017: Social",Unnamed: 9,Unnamed: 10,Unnamed: 11,"ACS Profile Report, 2013-2017: Housing",Unnamed: 13,Unnamed: 14,Unnamed: 15
0,ZCTA5 78724 (86000US78724),NaN,NaN,NaN,ZCTA5 78724 (86000US78724),NaN,NaN,NaN,ZCTA5 78724 (86000US78724),NaN,NaN,NaN,ZCTA5 78724 (86000US78724),NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Subject,ZCTA5 78724,NaN,NaN,Subject,ZCTA5 78724,NaN,NaN,Subject,ZCTA5 78724,NaN,NaN,Subject,ZCTA5 78724,NaN,NaN
3,NaN,Number,MOE,Pct,NaN,Number,MOE,Pct,NaN,Number,MOE,Pct,NaN,Number,MOE,Pct
4,D1. AGE,NaN,NaN,NaN,E1. HOUSEHOLD INCOME AND BENEFITS,NaN,NaN,NaN,S1. HOUSEHOLDS BY TYPE,NaN,NaN,NaN,H1. HOUSING OCCUPANCY AND TENURE,NaN,NaN,NaN

In [ ]:
|